<?xml version="1.0"?>
<config>
   <modules>
      <Mage_Achdirect>
         <version>0.6.0</version>
      </Mage_Achdirect>
   </modules>
   <global>
      <models>
         <achdirect>
            <class>Mage_Achdirect_Model</class>
            <resourceModel>achdirect_mysql4</resourceModel>
         </achdirect>
         <achdirect_mysql4>
            <class>Mage_Achdirect_Model_Mysql4</class>
         </achdirect_mysql4>
      </models>
      <resources>
         <achdirect_setup>
            <setup>
               <module>Mage_Achdirect</module>
			   <class>Mage_Achdirect_Model_Mysql4_Setup</class>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </achdirect_setup>
         <achdirect_write>
            <connection>
               <use>core_write</use>
            </connection>
         </achdirect_write>
         <achdirect_read>
            <connection>
               <use>core_read</use>
            </connection>
         </achdirect_read>
      </resources>
	  <fieldsets>
		<sales_convert_quote_payment>
			<achdirect_type><to_order_payment>achdirect_type</to_order_payment></achdirect_type>
			<achdirect_transit_routing_number><to_order_payment>achdirect_transit_routing_number</to_order_payment></achdirect_transit_routing_number>
			<achdirect_account_number><to_order_payment>achdirect_account_number</to_order_payment></achdirect_account_number>
			<achdirect_account_type><to_order_payment>achdirect_account_type</to_order_payment></achdirect_account_type>
			<achdirect_check_no><to_order_payment>achdirect_check_no</to_order_payment></achdirect_check_no>
		</sales_convert_quote_payment>
		<sales_convert_order_payment>			
			<achdirect_type><to_quote_payment>achdirect_type</to_quote_payment></achdirect_type>
			<achdirect_transit_routing_number><to_quote_payment>achdirect_transit_routing_number</to_quote_payment></achdirect_transit_routing_number>
			<achdirect_account_number><to_quote_payment>achdirect_account_number</to_quote_payment></achdirect_account_number>
			<achdirect_account_type><to_quote_payment>achdirect_account_type</to_quote_payment></achdirect_account_type>
			<achdirect_check_no><to_quote_payment>achdirect_check_no</to_quote_payment></achdirect_check_no>			
		</sales_convert_order_payment>
	  </fieldsets>	  
   </global>
   <adminhtml>
        <translate>
            <modules>
                <Mage_Achdirect>
                    <files>
                        <default>Mage_Achdirect.csv</default>
                    </files>
                </Mage_Achdirect>
            </modules>
        </translate>
   </adminhtml>
   <frontend>
        <translate>
            <modules>
                <Mage_Achdirect>
                    <files>
                        <default>Mage_Achdirect.csv</default>
                    </files>
                </Mage_Achdirect>              
            </modules>
        </translate>
   </frontend>
   <default>
        <payment>
            <achdirect>
                <active>0</active>
                <cctypes>AE,VI,MC,DI</cctypes>
                <debug>0</debug>
                <email_customer>0</email_customer>
                <login backend_model="adminhtml/system_config_backend_encrypted"/>
                <merchant_email></merchant_email>
                <model>achdirect/achdirect</model>
                <order_status>1</order_status>
                <payment_action>authorize</payment_action>
                <test>1</test>
                <title>ACH Direct: CC and EFT</title>
                <trans_key backend_model="adminhtml/system_config_backend_encrypted"/>
                <allowspecific>0</allowspecific>
            </achdirect>
        </payment>
   </default>
</config>